@tailwind base;
@tailwind components;
@tailwind utilities;

#gridCategories {
    grid-template: 
    "a c c d" 
    "a b e e";
}

#categoriesFurniture {
    grid-area: a;
}
#categoriesLightning {
    grid-area: c;
}
#categoriesVases {
    grid-area: d;
}
#categoriesDecor {
    grid-area: b;
}
#categoriesAccessories {
    grid-area: e
}
